
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sans-Serif;
}
body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
    background: #fff;
}
:root{
  --white-color: #fff;
  --main-color: #1876f2;
}
::-webkit-scrollbar {
  width: 0; /* স্ক্রল বার গোপন করা */
}


/*-------- loging page design -------*/


.top-container{
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  gap: 3px;
  background: #E1E9F0;
}
.bottom-container{
  width: 100%;
  height: 50rem;
  background: #fff;
}
.left-row{
  width: 50%;
  height: 100%;
  padding: 6rem;
}
.left-row img{
  width: 13rem;
}
.right-row{
  width: 45%;
  height: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loging-box{
  width: 100%;
  background: #fff;
  border-radius: 10px;
  padding-bottom: 30px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 0 1.4rem rgba(0,0,0,0.2);
}
#login_form{
  width: 100%;
  height: 100%;
}
.loging-email{
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  font-size: 1.1rem;
  border-radius: 4px;
  outline: none;
}
.loging-email:focus{
  border: 2px solid #1876f2;
}
.loging-password{
  margin-top: 1.3rem;
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  font-size: 1.1rem;
  border-radius: 4px;
  outline: none;
}
.loging-password:focus{
  border: 2px solid #1876f2;
}
.btn-success{
  width: 100%;
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.9rem;
  border: 0;
  background: #1876f2;
  color: #fff;
  border-radius: 7px;
}
.fg-pass-box{
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fg-pass{
  margin-left: auto;
  margin-right: auto;
  font-size: 1.1rem;
  text-decoration: none;
  color: #1876f2;
  font-weight: 450;
}
.loging-card-hr{
  border: 0;
  width: 100%;
  background: #cccc;
  margin-top: 20px;
  height: 1px;
}
.create-new-acc-btn{
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.9rem;
  border: 0;
  background: #00C34C;
  color: #fff;
  border-radius: 7px;
}
.account-create-btn-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}